[Desktop Entry]
Type=Application
Name=Yokto Launcher
Comment=Select and launch games
Exec=weston-terminal -f -- /usr/bin/launcher
Icon=applications-games
Categories=Game;