[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Yokto Launcher
Comment=Game selection UI
Exec=/usr/bin/launcher-direct.sh
Icon=applications-games
Terminal=false
Categories=Game;
StartupNotify=false