[Unit]
Description=Yokto Launcher
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/weston-terminal --fullscreen -- /usr/bin/launcher
Restart=no

[Install]
WantedBy=graphical-session.target