[Desktop Entry]
Name=Yokto Game Launcher
Comment=Game selection and data download tool
Exec=weston-terminal --fullscreen -- /usr/bin/game-launcher
Icon=applications-games
Type=Application
Categories=Game;
X-GNOME-Autostart-enabled=true
StartupNotify=false