[Unit]
Description=Yokto Game Launcher
After=weston.service
PartOf=weston.service

[Service]
Type=oneshot
User=weston
ExecStart=/usr/bin/weston-terminal --fullscreen -- /usr/bin/game-launcher
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=weston.service